server:
  port: 8082

spring:
  application:
    name: todo-service

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://todo-db:5432/todo-db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka
  instance:
    hostname: todo-service
    prefer-ip-address: false

cors:
  allowed:
    origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}

